*.pyc
*_testlogs
*_tutorial*
*generated_dial_examples.txt
*Tutorials
*.bak
*heroku-cli-*
*nohup*
.cache/
.DS_Store
.pytest_cache/
*__pycache__*
*.idea*
*.swp
*trained_models*
*.py[cod]
*discriminator_results.txt
*.egg-info
*.egg
*.eggs
